*
!product_images/
!product_images/Coffeemill.jpg
!product_images/fashionbag.jpg
!product_images/HardDisk.jpg
!product_images/LeatherShoes.jpg
!product_images/LivingRoomLaptop.jpg
!product_images/MakeupSet.jpg
!product_images/MusicMic.jpg
!product_images/onion.jpg
!product_images/Tumbler.jpg
!product_images/watch.jpg
!profile_images/
!profile_images/user1.png
!profile_images/user2.png
!profile_images/user3.png
!profile_images/testuser.png
!.gitignore
!inputbuttun.png